@font-face {
    font-family: myFont;
    src: url('../../fonts/bad.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFont;
}

html {
    font-size: 62.5%;
}

.main {
    background-color: #E7F0F5;
    width: 100%;
    padding-top: 4rem;
    margin-top: 5rem;
}